* {
  margin: 0px auto;
  scroll-behavior: smooth;
}

@keyframes typing {
  75% {
    left: 100%;
    margin: 0;
    width: 0;
  }
}



.animate-text {
  position: absolute;
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  left: 35%;
}


